
td {
	padding: 5;
	font-size: 12;
}

FONT.S0{background-color:#000000;color:#FFFFFF}
FONT.T0{color:#000000}
FONT.S1{background-color:#ffffff;color:#000000}
FONT.T1{color:#ffffff}
FONT.S2{background-color:#ff0000;color:#FFFFFF}
FONT.T2{color:#ff0000}
FONT.S3{background-color:#00ff00;color:#000000}
FONT.T3{color:#00ff00}
FONT.S4{background-color:#0000ff;color:#FFFFFF}
FONT.T4{color:#0000ff}
FONT.S5{background-color:#00ffff;color:#000000}
FONT.T5{color:#00ffff}
FONT.S6{background-color:#ff00ff;color:#FFFFFF}
FONT.T6{color:#ff00ff}
FONT.S7{background-color:#ffff00;color:#000000}
FONT.T7{color:#ffff00}
FONT.S8{background-color:#6600cc;color:#FFFFFF}
FONT.T8{color:#6600cc}
FONT.S9{background-color:#0099ff;color:#FFFFFF}
FONT.T9{color:#0099ff}
FONT.S10{background-color:#33cccc;color:#000000}
FONT.T10{color:#33cccc}
FONT.S11{background-color:#00ffcc;color:#000000}
FONT.T11{color:#00ffcc}
FONT.S12{background-color:#0033ff;color:#FFFFFF}
FONT.T12{color:#0033ff}
FONT.S13{background-color:#009900;color:#FFFFFF}
FONT.T13{color:#009900}
FONT.S14{background-color:#33cc00;color:#000000}
FONT.T14{color:#33cc00}
FONT.S15{background-color:#ff3333;color:#FFFFFF}
FONT.T15{color:#ff3333}
FONT.S16{background-color:#cc6600;color:#FFFFFF}
FONT.T16{color:#cc6600}
FONT.S17{background-color:#cc0000;color:#FFFFFF}
FONT.T17{color:#cc0000}
FONT.S18{background-color:#999999;color:#FFFFFF}
FONT.T18{color:#999999}
FONT.S19{background-color:#666666;color:#FFFFFF}
FONT.T19{color:#666666}
FONT.S20{background-color:#ffffff;color:#000000}
FONT.T20{color:#ffffff}
FONT.S21{background-color:#eeeeee;color:#000000}
FONT.T21{color:#eeeeee}
FONT.S22{background-color:#dddddd;color:#000000}
FONT.T22{color:#dddddd}
FONT.S23{background-color:#cccccc;color:#000000}
FONT.T23{color:#cccccc}
FONT.S24{background-color:#bbbbbb;color:#FFFFFF}
FONT.T24{color:#bbbbbb}
FONT.S25{background-color:#aaaaaa;color:#FFFFFF}
FONT.T25{color:#aaaaaa}
FONT.S26{background-color:#999999;color:#FFFFFF}
FONT.T26{color:#999999}
FONT.S27{background-color:#888888;color:#FFFFFF}
FONT.T27{color:#888888}
FONT.S28{background-color:#777777;color:#FFFFFF}
FONT.T28{color:#777777}
FONT.S29{background-color:#666666;color:#FFFFFF}
FONT.T29{color:#666666}
FONT.S30{background-color:#555555;color:#FFFFFF}
FONT.T30{color:#555555}
FONT.S31{background-color:#444444;color:#FFFFFF}
FONT.T31{color:#444444}
FONT.S32{background-color:#333333;color:#FFFFFF}
FONT.T32{color:#333333}
FONT.S33{background-color:#222222;color:#FFFFFF}
FONT.T33{color:#222222}
FONT.S34{background-color:#111111;color:#FFFFFF}
FONT.T34{color:#111111}
FONT.S35{background-color:#000000;color:#FFFFFF}
FONT.T35{color:#000000}
FONT.S36{background-color:#ff1111;color:#FFFFFF}
FONT.T36{color:#ff1111}
FONT.S37{background-color:#1155ff;color:#FFFFFF}
FONT.T37{color:#1155ff}
FONT.S38{background-color:#11dd11;color:#000000}
FONT.T38{color:#11dd11}
FONT.S39{background-color:#11ffff;color:#000000}
FONT.T39{color:#11ffff}
FONT.S40{background-color:#ffff11;color:#000000}
FONT.T40{color:#ffff11}
FONT.S41{background-color:#ff7f11;color:#FFFFFF}
FONT.T41{color:#ff7f11}
FONT.S42{background-color:#ff11ff;color:#FFFFFF}
FONT.T42{color:#ff11ff}
FONT.S43{background-color:#6611cc;color:#FFFFFF}
FONT.T43{color:#6611cc}
FONT.S44{background-color:#197fe5;color:#FFFFFF}
FONT.T44{color:#197fe5}
FONT.S45{background-color:#666666;color:#FFFFFF}
FONT.T45{color:#666666}
FONT.S46{background-color:#999999;color:#FFFFFF}
FONT.T46{color:#999999}
FONT.S47{background-color:#90fe23;color:#000000}
FONT.T47{color:#90fe23}
FONT.S48{background-color:#fe5e2d;color:#FFFFFF}
FONT.T48{color:#fe5e2d}
FONT.S49{background-color:#2e3d2d;color:#FFFFFF}
FONT.T49{color:#2e3d2d}
FONT.S50{background-color:#00903b;color:#FFFFFF}
FONT.T50{color:#00903b}
FONT.S51{background-color:#004baa;color:#FFFFFF}
FONT.T51{color:#004baa}
FONT.S52{background-color:#864b00;color:#FFFFFF}
FONT.T52{color:#864b00}
FONT.S53{background-color:#3fa201;color:#FFFFFF}
FONT.T53{color:#3fa201}
FONT.S54{background-color:#10fe68;color:#000000}
FONT.T54{color:#10fe68}
FONT.S55{background-color:#b2063b;color:#FFFFFF}
FONT.T55{color:#b2063b}
FONT.S56{background-color:#04ced9;color:#000000}
FONT.T56{color:#04ced9}
FONT.S57{background-color:#4972fe;color:#FFFFFF}
FONT.T57{color:#4972fe}
FONT.S58{background-color:#c4a100;color:#FFFFFF}
FONT.T58{color:#c4a100}
FONT.S59{background-color:#2a84dd;color:#FFFFFF}
FONT.T59{color:#2a84dd}
FONT.S60{background-color:#a60ade;color:#FFFFFF}
FONT.T60{color:#a60ade}
FONT.S61{background-color:#fe61fe;color:#FFFFFF}
FONT.T61{color:#fe61fe}
FONT.S62{background-color:#f7e847;color:#000000}
FONT.T62{color:#f7e847}
FONT.S63{background-color:#fefeb3;color:#000000}
FONT.T63{color:#fefeb3}
FONT.S64{background-color:#4a007f;color:#FFFFFF}
FONT.T64{color:#4a007f}
FONT.S65{background-color:#e903a8;color:#FFFFFF}
FONT.T65{color:#e903a8}
FONT.S66{background-color:#5bfdfd;color:#000000}
FONT.T66{color:#5bfdfd}

