pre {
}


td {
	padding: 5;
}

FONT.S0{background-color:#000000 !important;color:#FFFFFF !important !important}
FONT.T0{color:#000000 !important}
FONT.S1{background-color:#ffffff !important;color:#000000 !important}
FONT.T1{color:#ffffff !important}
FONT.S2{background-color:#ff0000 !important;color:#FFFFFF !important}
FONT.T2{color:#ff0000 !important}
FONT.S3{background-color:#00ff00 !important;color:#000000 !important}
FONT.T3{color:#00ff00 !important}
FONT.S4{background-color:#0000ff !important;color:#FFFFFF !important}
FONT.T4{color:#0000ff !important}
FONT.S5{background-color:#00ffff !important;color:#000000 !important}
FONT.T5{color:#00ffff !important}
FONT.S6{background-color:#ff00ff !important;color:#FFFFFF !important}
FONT.T6{color:#ff00ff !important}
FONT.S7{background-color:#ffff00 !important;color:#000000 !important}
FONT.T7{color:#ffff00 !important}
FONT.S8{background-color:#6600cc !important;color:#FFFFFF !important}
FONT.T8{color:#6600cc !important}
FONT.S9{background-color:#0099ff !important;color:#FFFFFF !important}
FONT.T9{color:#0099ff !important}
FONT.S10{background-color:#33cccc !important;color:#000000 !important}
FONT.T10{color:#33cccc !important}
FONT.S11{background-color:#00ffcc !important;color:#000000 !important}
FONT.T11{color:#00ffcc !important}
FONT.S12{background-color:#0033ff !important;color:#FFFFFF !important}
FONT.T12{color:#0033ff !important}
FONT.S13{background-color:#009900 !important;color:#FFFFFF !important}
FONT.T13{color:#009900 !important}
FONT.S14{background-color:#33cc00 !important;color:#000000 !important}
FONT.T14{color:#33cc00 !important}
FONT.S15{background-color:#ff3333 !important;color:#FFFFFF !important}
FONT.T15{color:#ff3333 !important}
FONT.S16{background-color:#cc6600 !important;color:#FFFFFF !important}
FONT.T16{color:#cc6600 !important}
FONT.S17{background-color:#cc0000 !important;color:#FFFFFF !important}
FONT.T17{color:#cc0000 !important}
FONT.S18{background-color:#999999 !important;color:#FFFFFF !important}
FONT.T18{color:#999999 !important}
FONT.S19{background-color:#666666 !important;color:#FFFFFF !important}
FONT.T19{color:#666666 !important}
FONT.S20{background-color:#ffffff !important;color:#000000 !important}
FONT.T20{color:#ffffff !important}
FONT.S21{background-color:#eeeeee !important;color:#000000 !important}
FONT.T21{color:#eeeeee !important}
FONT.S22{background-color:#dddddd !important;color:#000000 !important}
FONT.T22{color:#dddddd !important}
FONT.S23{background-color:#cccccc !important;color:#000000 !important}
FONT.T23{color:#cccccc !important}
FONT.S24{background-color:#bbbbbb !important;color:#FFFFFF !important}
FONT.T24{color:#bbbbbb !important}
FONT.S25{background-color:#aaaaaa !important;color:#FFFFFF !important}
FONT.T25{color:#aaaaaa !important}
FONT.S26{background-color:#999999 !important;color:#FFFFFF !important}
FONT.T26{color:#999999 !important}
FONT.S27{background-color:#888888 !important;color:#FFFFFF !important}
FONT.T27{color:#888888 !important}
FONT.S28{background-color:#777777 !important;color:#FFFFFF !important}
FONT.T28{color:#777777 !important}
FONT.S29{background-color:#666666 !important;color:#FFFFFF !important}
FONT.T29{color:#666666 !important}
FONT.S30{background-color:#555555 !important;color:#FFFFFF !important}
FONT.T30{color:#555555 !important}
FONT.S31{background-color:#444444 !important;color:#FFFFFF !important}
FONT.T31{color:#444444 !important}
FONT.S32{background-color:#333333 !important;color:#FFFFFF !important}
FONT.T32{color:#333333 !important}
FONT.S33{background-color:#222222 !important;color:#FFFFFF !important}
FONT.T33{color:#222222 !important}
FONT.S34{background-color:#111111 !important;color:#FFFFFF !important}
FONT.T34{color:#111111 !important}
FONT.S35{background-color:#000000 !important;color:#FFFFFF !important}
FONT.T35{color:#000000 !important}
FONT.S36{background-color:#ff1111 !important;color:#FFFFFF !important}
FONT.T36{color:#ff1111 !important}
FONT.S37{background-color:#1155ff !important;color:#FFFFFF !important}
FONT.T37{color:#1155ff !important}
FONT.S38{background-color:#11dd11 !important;color:#000000 !important}
FONT.T38{color:#11dd11 !important}
FONT.S39{background-color:#11ffff !important;color:#000000 !important}
FONT.T39{color:#11ffff !important}
FONT.S40{background-color:#ffff11 !important;color:#000000 !important}
FONT.T40{color:#ffff11 !important}
FONT.S41{background-color:#ff7f11 !important;color:#FFFFFF !important}
FONT.T41{color:#ff7f11 !important}
FONT.S42{background-color:#ff11ff !important;color:#FFFFFF !important}
FONT.T42{color:#ff11ff !important}
FONT.S43{background-color:#6611cc !important;color:#FFFFFF !important}
FONT.T43{color:#6611cc !important}
FONT.S44{background-color:#197fe5 !important;color:#FFFFFF !important}
FONT.T44{color:#197fe5 !important}
FONT.S45{background-color:#666666 !important;color:#FFFFFF !important}
FONT.T45{color:#666666 !important}
FONT.S46{background-color:#999999 !important;color:#FFFFFF !important}
FONT.T46{color:#999999 !important}
FONT.S47{background-color:#90fe23 !important;color:#000000 !important}
FONT.T47{color:#90fe23 !important}
FONT.S48{background-color:#fe5e2d !important;color:#FFFFFF !important}
FONT.T48{color:#fe5e2d !important}
FONT.S49{background-color:#2e3d2d !important;color:#FFFFFF !important}
FONT.T49{color:#2e3d2d !important}
FONT.S50{background-color:#00903b !important;color:#FFFFFF !important}
FONT.T50{color:#00903b !important}
FONT.S51{background-color:#004baa !important;color:#FFFFFF !important}
FONT.T51{color:#004baa !important}
FONT.S52{background-color:#864b00 !important;color:#FFFFFF !important}
FONT.T52{color:#864b00 !important}
FONT.S53{background-color:#3fa201 !important;color:#FFFFFF !important}
FONT.T53{color:#3fa201 !important}
FONT.S54{background-color:#10fe68 !important;color:#000000 !important}
FONT.T54{color:#10fe68 !important}
FONT.S55{background-color:#b2063b !important;color:#FFFFFF !important}
FONT.T55{color:#b2063b !important}
FONT.S56{background-color:#04ced9 !important;color:#000000 !important}
FONT.T56{color:#04ced9 !important}
FONT.S57{background-color:#4972fe !important;color:#FFFFFF !important}
FONT.T57{color:#4972fe !important}
FONT.S58{background-color:#c4a100 !important;color:#FFFFFF !important}
FONT.T58{color:#c4a100 !important}
FONT.S59{background-color:#2a84dd !important;color:#FFFFFF !important}
FONT.T59{color:#2a84dd !important}
FONT.S60{background-color:#a60ade !important;color:#FFFFFF !important}
FONT.T60{color:#a60ade !important}
FONT.S61{background-color:#fe61fe !important;color:#FFFFFF !important}
FONT.T61{color:#fe61fe !important}
FONT.S62{background-color:#f7e847 !important;color:#000000 !important}
FONT.T62{color:#f7e847 !important}
FONT.S63{background-color:#fefeb3 !important;color:#000000 !important}
FONT.T63{color:#fefeb3 !important}
FONT.S64{background-color:#4a007f !important;color:#FFFFFF !important}
FONT.T64{color:#4a007f !important}
FONT.S65{background-color:#e903a8 !important;color:#FFFFFF !important}
FONT.T65{color:#e903a8 !important}
FONT.S66{background-color:#5bfdfd !important;color:#000000 !important}
FONT.T66{color:#5bfdfd !important}

@media print {

  .navbar, .btn, .nav, .hr { 
    display: none;
  }
  body {
    -webkit-print-color-adjust: exact;
  }
 
  pre {
    font-size: 9px;
  }

}

