.flyout {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.3s ease-in-out;  
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 16em;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0;
  max-width: none;
  overflow: hidden;
  overflow-y: scroll;
  color: white;
  background-color: #1b1b1b;
  z-index: 100;
}

.flyout.extend {
  width: 100%;
  z-index: 100;
}

.flyout.out {
  -webkit-transform: translate3d(0, 0, 0);
  left: -16em;
}

.flyout .content {
  width: 100%;
  position: relative;
  padding: 1.0em;
}

.plaza-tree {
  width: 1000px;
  float: right;
  //margin: 0 10em;
  display: none;
  overflow: hidden;
}

.plaza-tree.extend {
  display: inline;
}

.flyout-body {
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.3s ease-in-out;  
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-left: 16em;
  max-height: 100%;
  width: auto;
}

.flyout-body.extend {
  display: none;
}

.flyout-body.out {
  margin-left: 0;
}

.no-transition {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

  
