/* line 1, _flyout.scss */
.flyout {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 16em;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0;
  max-width: none;
  overflow: hidden;
  overflow-y: scroll;
  color: white;
  background-color: #1b1b1b;
  z-index: 100;
}

/* line 20, _flyout.scss */
.flyout.extend {
  width: 100%;
  z-index: 100;
}

/* line 25, _flyout.scss */
.flyout.out {
  left: -16em;
}

/* line 29, _flyout.scss */
.flyout .content {
  width: 100%;
  position: relative;
  padding: 1.0em;
}

/* line 35, _flyout.scss */
.plaza-tree {
  width: 1000px;
  float: right;
  display: none;
  overflow: hidden;
}

/* line 43, _flyout.scss */
.plaza-tree.extend {
  display: inline;
}

/* line 47, _flyout.scss */
.flyout-body {
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-left: 16em;
  max-height: 100%;
  width: auto;
}

/* line 59, _flyout.scss */
.flyout-body.extend {
  display: none;
}

/* line 63, _flyout.scss */
.flyout-body.out {
  margin-left: 0;
}

/* line 67, _flyout.scss */
.no-transition {
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

/* line 5, _alignment.scss */
td {
  padding: 5;
}

/* line 9, _alignment.scss */
FONT.S0 {
  background-color: #000000 !important;
  color: #FFFFFF !important !important;
}

/* line 10, _alignment.scss */
FONT.T0 {
  color: #000000 !important;
}

/* line 11, _alignment.scss */
FONT.S1 {
  background-color: #ffffff !important;
  color: #000000 !important;
}

/* line 12, _alignment.scss */
FONT.T1 {
  color: #ffffff !important;
}

/* line 13, _alignment.scss */
FONT.S2 {
  background-color: #ff0000 !important;
  color: #FFFFFF !important;
}

/* line 14, _alignment.scss */
FONT.T2 {
  color: #ff0000 !important;
}

/* line 15, _alignment.scss */
FONT.S3 {
  background-color: #00ff00 !important;
  color: #000000 !important;
}

/* line 16, _alignment.scss */
FONT.T3 {
  color: #00ff00 !important;
}

/* line 17, _alignment.scss */
FONT.S4 {
  background-color: #0000ff !important;
  color: #FFFFFF !important;
}

/* line 18, _alignment.scss */
FONT.T4 {
  color: #0000ff !important;
}

/* line 19, _alignment.scss */
FONT.S5 {
  background-color: #00ffff !important;
  color: #000000 !important;
}

/* line 20, _alignment.scss */
FONT.T5 {
  color: #00ffff !important;
}

/* line 21, _alignment.scss */
FONT.S6 {
  background-color: #ff00ff !important;
  color: #FFFFFF !important;
}

/* line 22, _alignment.scss */
FONT.T6 {
  color: #ff00ff !important;
}

/* line 23, _alignment.scss */
FONT.S7 {
  background-color: #ffff00 !important;
  color: #000000 !important;
}

/* line 24, _alignment.scss */
FONT.T7 {
  color: #ffff00 !important;
}

/* line 25, _alignment.scss */
FONT.S8 {
  background-color: #6600cc !important;
  color: #FFFFFF !important;
}

/* line 26, _alignment.scss */
FONT.T8 {
  color: #6600cc !important;
}

/* line 27, _alignment.scss */
FONT.S9 {
  background-color: #0099ff !important;
  color: #FFFFFF !important;
}

/* line 28, _alignment.scss */
FONT.T9 {
  color: #0099ff !important;
}

/* line 29, _alignment.scss */
FONT.S10 {
  background-color: #33cccc !important;
  color: #000000 !important;
}

/* line 30, _alignment.scss */
FONT.T10 {
  color: #33cccc !important;
}

/* line 31, _alignment.scss */
FONT.S11 {
  background-color: #00ffcc !important;
  color: #000000 !important;
}

/* line 32, _alignment.scss */
FONT.T11 {
  color: #00ffcc !important;
}

/* line 33, _alignment.scss */
FONT.S12 {
  background-color: #0033ff !important;
  color: #FFFFFF !important;
}

/* line 34, _alignment.scss */
FONT.T12 {
  color: #0033ff !important;
}

/* line 35, _alignment.scss */
FONT.S13 {
  background-color: #009900 !important;
  color: #FFFFFF !important;
}

/* line 36, _alignment.scss */
FONT.T13 {
  color: #009900 !important;
}

/* line 37, _alignment.scss */
FONT.S14 {
  background-color: #33cc00 !important;
  color: #000000 !important;
}

/* line 38, _alignment.scss */
FONT.T14 {
  color: #33cc00 !important;
}

/* line 39, _alignment.scss */
FONT.S15 {
  background-color: #ff3333 !important;
  color: #FFFFFF !important;
}

/* line 40, _alignment.scss */
FONT.T15 {
  color: #ff3333 !important;
}

/* line 41, _alignment.scss */
FONT.S16 {
  background-color: #cc6600 !important;
  color: #FFFFFF !important;
}

/* line 42, _alignment.scss */
FONT.T16 {
  color: #cc6600 !important;
}

/* line 43, _alignment.scss */
FONT.S17 {
  background-color: #cc0000 !important;
  color: #FFFFFF !important;
}

/* line 44, _alignment.scss */
FONT.T17 {
  color: #cc0000 !important;
}

/* line 45, _alignment.scss */
FONT.S18 {
  background-color: #999999 !important;
  color: #FFFFFF !important;
}

/* line 46, _alignment.scss */
FONT.T18 {
  color: #999999 !important;
}

/* line 47, _alignment.scss */
FONT.S19 {
  background-color: #666666 !important;
  color: #FFFFFF !important;
}

/* line 48, _alignment.scss */
FONT.T19 {
  color: #666666 !important;
}

/* line 49, _alignment.scss */
FONT.S20 {
  background-color: #ffffff !important;
  color: #000000 !important;
}

/* line 50, _alignment.scss */
FONT.T20 {
  color: #ffffff !important;
}

/* line 51, _alignment.scss */
FONT.S21 {
  background-color: #eeeeee !important;
  color: #000000 !important;
}

/* line 52, _alignment.scss */
FONT.T21 {
  color: #eeeeee !important;
}

/* line 53, _alignment.scss */
FONT.S22 {
  background-color: #dddddd !important;
  color: #000000 !important;
}

/* line 54, _alignment.scss */
FONT.T22 {
  color: #dddddd !important;
}

/* line 55, _alignment.scss */
FONT.S23 {
  background-color: #cccccc !important;
  color: #000000 !important;
}

/* line 56, _alignment.scss */
FONT.T23 {
  color: #cccccc !important;
}

/* line 57, _alignment.scss */
FONT.S24 {
  background-color: #bbbbbb !important;
  color: #FFFFFF !important;
}

/* line 58, _alignment.scss */
FONT.T24 {
  color: #bbbbbb !important;
}

/* line 59, _alignment.scss */
FONT.S25 {
  background-color: #aaaaaa !important;
  color: #FFFFFF !important;
}

/* line 60, _alignment.scss */
FONT.T25 {
  color: #aaaaaa !important;
}

/* line 61, _alignment.scss */
FONT.S26 {
  background-color: #999999 !important;
  color: #FFFFFF !important;
}

/* line 62, _alignment.scss */
FONT.T26 {
  color: #999999 !important;
}

/* line 63, _alignment.scss */
FONT.S27 {
  background-color: #888888 !important;
  color: #FFFFFF !important;
}

/* line 64, _alignment.scss */
FONT.T27 {
  color: #888888 !important;
}

/* line 65, _alignment.scss */
FONT.S28 {
  background-color: #777777 !important;
  color: #FFFFFF !important;
}

/* line 66, _alignment.scss */
FONT.T28 {
  color: #777777 !important;
}

/* line 67, _alignment.scss */
FONT.S29 {
  background-color: #666666 !important;
  color: #FFFFFF !important;
}

/* line 68, _alignment.scss */
FONT.T29 {
  color: #666666 !important;
}

/* line 69, _alignment.scss */
FONT.S30 {
  background-color: #555555 !important;
  color: #FFFFFF !important;
}

/* line 70, _alignment.scss */
FONT.T30 {
  color: #555555 !important;
}

/* line 71, _alignment.scss */
FONT.S31 {
  background-color: #444444 !important;
  color: #FFFFFF !important;
}

/* line 72, _alignment.scss */
FONT.T31 {
  color: #444444 !important;
}

/* line 73, _alignment.scss */
FONT.S32 {
  background-color: #333333 !important;
  color: #FFFFFF !important;
}

/* line 74, _alignment.scss */
FONT.T32 {
  color: #333333 !important;
}

/* line 75, _alignment.scss */
FONT.S33 {
  background-color: #222222 !important;
  color: #FFFFFF !important;
}

/* line 76, _alignment.scss */
FONT.T33 {
  color: #222222 !important;
}

/* line 77, _alignment.scss */
FONT.S34 {
  background-color: #111111 !important;
  color: #FFFFFF !important;
}

/* line 78, _alignment.scss */
FONT.T34 {
  color: #111111 !important;
}

/* line 79, _alignment.scss */
FONT.S35 {
  background-color: #000000 !important;
  color: #FFFFFF !important;
}

/* line 80, _alignment.scss */
FONT.T35 {
  color: #000000 !important;
}

/* line 81, _alignment.scss */
FONT.S36 {
  background-color: #ff1111 !important;
  color: #FFFFFF !important;
}

/* line 82, _alignment.scss */
FONT.T36 {
  color: #ff1111 !important;
}

/* line 83, _alignment.scss */
FONT.S37 {
  background-color: #1155ff !important;
  color: #FFFFFF !important;
}

/* line 84, _alignment.scss */
FONT.T37 {
  color: #1155ff !important;
}

/* line 85, _alignment.scss */
FONT.S38 {
  background-color: #11dd11 !important;
  color: #000000 !important;
}

/* line 86, _alignment.scss */
FONT.T38 {
  color: #11dd11 !important;
}

/* line 87, _alignment.scss */
FONT.S39 {
  background-color: #11ffff !important;
  color: #000000 !important;
}

/* line 88, _alignment.scss */
FONT.T39 {
  color: #11ffff !important;
}

/* line 89, _alignment.scss */
FONT.S40 {
  background-color: #ffff11 !important;
  color: #000000 !important;
}

/* line 90, _alignment.scss */
FONT.T40 {
  color: #ffff11 !important;
}

/* line 91, _alignment.scss */
FONT.S41 {
  background-color: #ff7f11 !important;
  color: #FFFFFF !important;
}

/* line 92, _alignment.scss */
FONT.T41 {
  color: #ff7f11 !important;
}

/* line 93, _alignment.scss */
FONT.S42 {
  background-color: #ff11ff !important;
  color: #FFFFFF !important;
}

/* line 94, _alignment.scss */
FONT.T42 {
  color: #ff11ff !important;
}

/* line 95, _alignment.scss */
FONT.S43 {
  background-color: #6611cc !important;
  color: #FFFFFF !important;
}

/* line 96, _alignment.scss */
FONT.T43 {
  color: #6611cc !important;
}

/* line 97, _alignment.scss */
FONT.S44 {
  background-color: #197fe5 !important;
  color: #FFFFFF !important;
}

/* line 98, _alignment.scss */
FONT.T44 {
  color: #197fe5 !important;
}

/* line 99, _alignment.scss */
FONT.S45 {
  background-color: #666666 !important;
  color: #FFFFFF !important;
}

/* line 100, _alignment.scss */
FONT.T45 {
  color: #666666 !important;
}

/* line 101, _alignment.scss */
FONT.S46 {
  background-color: #999999 !important;
  color: #FFFFFF !important;
}

/* line 102, _alignment.scss */
FONT.T46 {
  color: #999999 !important;
}

/* line 103, _alignment.scss */
FONT.S47 {
  background-color: #90fe23 !important;
  color: #000000 !important;
}

/* line 104, _alignment.scss */
FONT.T47 {
  color: #90fe23 !important;
}

/* line 105, _alignment.scss */
FONT.S48 {
  background-color: #fe5e2d !important;
  color: #FFFFFF !important;
}

/* line 106, _alignment.scss */
FONT.T48 {
  color: #fe5e2d !important;
}

/* line 107, _alignment.scss */
FONT.S49 {
  background-color: #2e3d2d !important;
  color: #FFFFFF !important;
}

/* line 108, _alignment.scss */
FONT.T49 {
  color: #2e3d2d !important;
}

/* line 109, _alignment.scss */
FONT.S50 {
  background-color: #00903b !important;
  color: #FFFFFF !important;
}

/* line 110, _alignment.scss */
FONT.T50 {
  color: #00903b !important;
}

/* line 111, _alignment.scss */
FONT.S51 {
  background-color: #004baa !important;
  color: #FFFFFF !important;
}

/* line 112, _alignment.scss */
FONT.T51 {
  color: #004baa !important;
}

/* line 113, _alignment.scss */
FONT.S52 {
  background-color: #864b00 !important;
  color: #FFFFFF !important;
}

/* line 114, _alignment.scss */
FONT.T52 {
  color: #864b00 !important;
}

/* line 115, _alignment.scss */
FONT.S53 {
  background-color: #3fa201 !important;
  color: #FFFFFF !important;
}

/* line 116, _alignment.scss */
FONT.T53 {
  color: #3fa201 !important;
}

/* line 117, _alignment.scss */
FONT.S54 {
  background-color: #10fe68 !important;
  color: #000000 !important;
}

/* line 118, _alignment.scss */
FONT.T54 {
  color: #10fe68 !important;
}

/* line 119, _alignment.scss */
FONT.S55 {
  background-color: #b2063b !important;
  color: #FFFFFF !important;
}

/* line 120, _alignment.scss */
FONT.T55 {
  color: #b2063b !important;
}

/* line 121, _alignment.scss */
FONT.S56 {
  background-color: #04ced9 !important;
  color: #000000 !important;
}

/* line 122, _alignment.scss */
FONT.T56 {
  color: #04ced9 !important;
}

/* line 123, _alignment.scss */
FONT.S57 {
  background-color: #4972fe !important;
  color: #FFFFFF !important;
}

/* line 124, _alignment.scss */
FONT.T57 {
  color: #4972fe !important;
}

/* line 125, _alignment.scss */
FONT.S58 {
  background-color: #c4a100 !important;
  color: #FFFFFF !important;
}

/* line 126, _alignment.scss */
FONT.T58 {
  color: #c4a100 !important;
}

/* line 127, _alignment.scss */
FONT.S59 {
  background-color: #2a84dd !important;
  color: #FFFFFF !important;
}

/* line 128, _alignment.scss */
FONT.T59 {
  color: #2a84dd !important;
}

/* line 129, _alignment.scss */
FONT.S60 {
  background-color: #a60ade !important;
  color: #FFFFFF !important;
}

/* line 130, _alignment.scss */
FONT.T60 {
  color: #a60ade !important;
}

/* line 131, _alignment.scss */
FONT.S61 {
  background-color: #fe61fe !important;
  color: #FFFFFF !important;
}

/* line 132, _alignment.scss */
FONT.T61 {
  color: #fe61fe !important;
}

/* line 133, _alignment.scss */
FONT.S62 {
  background-color: #f7e847 !important;
  color: #000000 !important;
}

/* line 134, _alignment.scss */
FONT.T62 {
  color: #f7e847 !important;
}

/* line 135, _alignment.scss */
FONT.S63 {
  background-color: #fefeb3 !important;
  color: #000000 !important;
}

/* line 136, _alignment.scss */
FONT.T63 {
  color: #fefeb3 !important;
}

/* line 137, _alignment.scss */
FONT.S64 {
  background-color: #4a007f !important;
  color: #FFFFFF !important;
}

/* line 138, _alignment.scss */
FONT.T64 {
  color: #4a007f !important;
}

/* line 139, _alignment.scss */
FONT.S65 {
  background-color: #e903a8 !important;
  color: #FFFFFF !important;
}

/* line 140, _alignment.scss */
FONT.T65 {
  color: #e903a8 !important;
}

/* line 141, _alignment.scss */
FONT.S66 {
  background-color: #5bfdfd !important;
  color: #000000 !important;
}

/* line 142, _alignment.scss */
FONT.T66 {
  color: #5bfdfd !important;
}

@media print {
  /* line 146, _alignment.scss */
  .navbar, .btn, .nav, .hr {
    display: none;
  }

  /* line 149, _alignment.scss */
  body {
    -webkit-print-color-adjust: exact;
  }

  /* line 153, _alignment.scss */
  pre {
    font-size: 9px;
  }
}
/* line 5, main.scss */
table.pog-search td {
  padding-right: 8px;
}
