@import "flyout";
//@import "compass_twitter_bootstrap";
@import "alignment";

table.pog-search td {
 padding-right: 8px;
}

.external-links {
  padding-top: 15px;
  padding-left: 5%;
}

.external-links a {
  float: right;
  margin-left: 4px;
}
