<div ng-controller="AboutCtrl">
  <h1>About Us</h1>
  <hr>
  <p>
  The POGs 2.0 database provides an update of <a href="http://pogs.uoregon.edu">POGs version 1.0</a> (<a href="http://dx.doi.org/10.1093/nar/gkl795">Walker et al. 2007</a>) in the following ways:
  <ul>
    <li>Two species added: <i>Populus trichocarpa</i>, <i>Zea mays</i>.</li>
    <li>Uses Gramene's <a href="http://www.gramene.org/info/docs/compara/homology_method.html">ENSEMBL orthology prediction output</a> rather than InParanoid</li>
    <li>Adds orthology prediction comparison between different methods (e.g. <a href="http://www.gramene.org/info/docs/compara/homology_method.html">Gramene</a> and <a href="http://bioinformatics.psb.ugent.be/knowledge/wiki-plaza/construction">Plaza</a>) to verify group consistency</li>
    <li>Improved Phylogenetic tree accuracy with a revised algorithm</li>
    <li>Includes up to date proteome data from <a href="http://ppdb.tc.cornell.edu/">PPDB</a> and gene annotations imported from <a href="http://www.arabidopsis.org/">TAIR</a>, <a href="http://rice.plantbiology.msu.edu/">Rice Annotation Project</a>, <a href="http://maizesequence.org">MaizeSequence.org</a>, and <a href="http://www.phytozome.net/">Phytozome.net</a></li>
    <li>Improved User Experience via improved schema and indexing to promote rapid searches.</li>
  </ul>
  </p>
  <p>
  We are in beta testing mode. Please contact us to let us know what you like and what you don’t like!
  </p>

  <h3>Authors</h3>
  <br>
  <p>
  Michael A Tomcal, <a href='&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#109;&#116;&#111;&#109;&#99;&#97;&#108;&#64;&#117;&#111;&#114;&#101;&#103;&#111;&#110;&#46;&#101;&#100;&#117;'>&#109;&#116;&#111;&#109;&#99;&#97;&#108;&#64;&#117;&#111;&#114;&#101;&#103;&#111;&#110;&#46;&#101;&#100;&#117;</a></p>
  <p>
  Nick Stiffler, <a href='&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#115;&#116;&#105;&#102;&#102;&#108;&#101;&#114;&#64;&#109;&#111;&#108;&#98;&#105;&#111;&#46;&#117;&#111;&#114;&#101;&#103;&#111;&#110;&#46;&#101;&#100;&#117;'>&#115;&#116;&#105;&#102;&#102;&#108;&#101;&#114;&#64;&#109;&#111;&#108;&#98;&#105;&#111;&#46;&#117;&#111;&#114;&#101;&#103;&#111;&#110;&#46;&#101;&#100;&#117;</a></p>
  <p>
  Alice Barkan, <a href='&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#97;&#98;&#97;&#114;&#107;&#97;&#110;&#64;&#109;&#111;&#108;&#98;&#105;&#111;&#46;&#117;&#111;&#114;&#101;&#103;&#111;&#110;&#46;&#101;&#100;&#117;'>&#97;&#98;&#97;&#114;&#107;&#97;&#110;&#64;&#109;&#111;&#108;&#98;&#105;&#111;&#46;&#117;&#111;&#114;&#101;&#103;&#111;&#110;&#46;&#101;&#100;&#117;</a>
  </p>

</div>
