<div ng-controller="SearchCtrl">
<h2>{{results.count || 0}} Results</h2>
<hr/>
<center ng-show="loadedResults">
  <pagination max-size="10" boundary-links="true" ng-model="page" on-select-page="setPage(page, 'genesearch')" num-pages="total_pages" current-page="page"></pagination>
</center>
<center><img ng-show="loader" width="25" height="25" src="images/ajax-loader.gif" /></center>
  <table ng-show="loadedResults" class="table table-bordered table-striped">
    <tbody>
      <tr>
        <th>Gene</th>
        <th>POG ID</th>
        <th>Description</th>
      </tr>
      <tr ng-model="results" ng-repeat="(item, value) in results.results">
        <td><h3>{{item}}</h3></td>
        <td><h2><a href="/ui/#/pog/{{value[0]}}">{{value[0]}}</a></h2></td>
        <td><p>{{value[1]}}</p></td>
      </tr>
    </tbody>
  </table>
<center ng-show="loadedResults">
  <pagination ng-model="page" max-size="10" boundary-links="true" on-select-page="setPage(page, 'genesearch')" num-pages="total_pages" current-page="page"></pagination>
</center>
<center ng-show="noResults"><h3>No Results Found.</h3></center>
</div>
